* {
	margin: 0 auto;
	padding: 0 auto;
}

								/* ACÁ LOS ESTILOS DEL MENU */
.navbar {
	background-color: #fff;
	border: none;
	margin-bottom: 0px !important;
}

								/* ACÁ LOS ESTILOS DEL BANNER */
.banner {
	background-image: url(../img/home.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 150px 0px;
}

.banner h1 {
	color: #fff;
}

								/* ACÁ LOS ESTILOS DE LA SECCION DOCUMENTAL */
.documental {
	padding: 50px 0;
}

.documental h3 {
	padding: 20px 0;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

								/* ACÁ LOS ESTILOS DE LA SECCION HACKATHON */

.hackathon {
	padding: 50px 0;
	background-color: #F9F603;
}


								/* ACÁ LOS ESTILOS DE LA SECCION CONTACTO */
.contacto {
	padding: 50px 0;
}

.contacto .btn {
	margin-top: 10px;
}

form {
	padding-top: 20px;
}


								/* ACÁ LOS ESTILOS DEL FOOTER */

footer {
	background-color: #5698F3;
	color: #fff;
	padding: 30px 0;
}

footer a {
	color: #F9F603;
}

